.inpt {
    width: 100%;
    height: 3.5rem;
  
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 400;
  
    margin-top: 9.6px;
  
    color: var(--color-black);
    background: var(--color-white);
    border: none;
  
    &:disabled {
      opacity: 0.5;
    }
  }